@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  background-color: #fff;
}

.cursor,
.bigger-cursor {
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  transition: transform ease-out 0.1s;
  background-color: white;
  pointer-events: none;
  display: none;
  animation: spotlight 0.5s ease-in-out;
}

.cursor {
  width: 60px;
  height: 60px;
}

.bigger-cursor {
  width: 120px;
  height: 120px;
}

.navbar {
  background-color: #060a09;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 36px;
  animation-name: navbar-swipe;
  animation-duration: 2s;
  z-index: 0;
}

.nav-logo {
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
  animation-name: navlist-appear;
  animation-duration: 3s;
}

.nav-logo:hover {
  color: #43312e;
  z-index: 100;
}

.nav-list {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  animation-name: navlist-appear;
  animation-duration: 3s;
}

.nav-item {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  z-index: 100;
}

.nav-item:hover {
  color: #43312e;
  transition: all 0.3s ease-in-out;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
}

.hero-left,
.hero-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
}

.hero-left {
  background-color: #060a09;
  color: #fff;
  padding: 0 36px;
  animation-name: swipe;
  animation-duration: 2s;
}

.hero-title,
.hero-subtitle {
  font-size: 70px;
  font-weight: 700;
}

.hero-title {
  animation-name: text-appear;
  animation-duration: 4s;
}

.hero-title:hover {
  color: #43312e;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.hero-subtitle {
  padding: 0 36px;
}

.hero-paragraph {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
  animation-name: text-appear;
  animation-duration: 4s;
}

.hero-btn {
  background: linear-gradient(to left, white 50%, #43312e 50%) right;
  background-size: 200% 100%;
  color: #000;
  padding: 12px 48px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  animation-name: text-appear;
  animation-duration: 4s;
}

.hero-btn:hover {
  background-position: left;
  color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.hero-right {
  background-color: #fff;
  color: #060a09;
}

.hero-illu {
  width: 100%;
  display: flex;
  justify-content: end;
}

.hero-img {
  width: 280px;
}

.services {
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px 36px;
  background-color: #060a09;
  color: #fff;
}

.services-title {
  font-size: 72px;
  font-weight: 700;
}

.services-info {
  display: flex;
  justify-content: space-between;
  padding: 36px;
  height: 100%;
}

.services-paragraph {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  width: 40%;
}

.services-illu {
  width: 50%;
  display: flex;
}

.services-illu img {
  width: 100%;
  border-radius: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #fff;
  color: #060a09;
}

.contact-title {
  font-size: 72px;
  font-weight: 700;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  padding: 36px;
  height: 100%;
  gap: 24px;
}

.contact-paragraph {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  width: 40%;
  padding: 0 36px;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-input {
  padding: 12px 24px;
  border: 1px solid #060a09;
  border-radius: 2px;
}

.contact-btn {
  background: linear-gradient(to left, #060a09 50%, #43312e 50%) right;
  background-size: 200% 100%;
  color: #fff;
  padding: 12px 48px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.contact-btn:hover {
  background-position: left;
  transition: all 0.3s ease-in-out;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navbar-swipe {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

@keyframes navlist-appear {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes swipe {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

@keyframes spotlight {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}

@keyframes services {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
